.Community-input-header {
  margin: 0 auto;
  width: 872px;
  display: flex;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.Community-input-header h2 {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.Community-input-header img {
  width: 38px;
}

.Community-input-main {
  margin: 0 auto;
  width: 872px;
}

.Community-input-main input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 20px;
  padding: 0 10px;
}

.Community-input-main .Community-input-title {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 10px 20px;
}

.Community-input-main input:focus {
  outline: 1px solid #898989;
}

.Community-input-main textarea {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 16px;
  padding: 10px;
  resize: none;
}

.Community-input-main textarea:focus {
  outline: 1px solid #898989;
}

.Community-input-main .Community-input-content {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 20px 20px 100px;
}

.Community-input-footer {
  margin: 0 auto;
  width: 872px;
  height: 200px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Community-input-footer .Community-input-button {
  width: 100px;
  height: 57px;
  background: #65BAED;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.Community-input-footer button img {
  width: 50px;
}