header {
  width: 100%;
  height: 70px;
  background: #9FD9FD;
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  width: 180px;
}

.logo img {
  width: 150px;
}

nav {
  height: 100px;
  align-content: center;
  width: 45%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  color: #2c2c2c;
}
.user {
  display: flex;
  gap: 10px;
}
.project-header .user .login, .project-header .user .new-user {
  font-size: 16px;
  font-weight: bold;
  color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ffff;
}